<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Code for America</title>

 	<!-- LEAFLET -->

    <!-- CODE FOR AMERICA STYLES -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6435252/678502/css/fonts.css" />
    <link rel="stylesheet" href="http://style.codeforamerica.org/1/style/css/main.css">
    <link rel="stylesheet" href="http://style.codeforamerica.org/1/style/css/layout.css" media="all and (min-width: 40em)">
    <link href="http://style.codeforamerica.org/1/style/css/prism.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" href="http://style.codeforamerica.org/1/style/favicons/60x60/flag-red.png"/>

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
        <link rel="stylesheet" href="http://style.codeforamerica.org/1/style/css/layout.css" media="all">
    <![endif]-->

	<!-- CUSTOM STYLES -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
    {% include "headline-validator.html" %}

    <div class="slab-gray">
        <section class="layout-semibreve">
            <div class="badge-heading badge-blue">
                <h3 class="h3 badge-heading-h3-fix">Upload your OpenTrails data.</h3>
            </div>
            <form action="/checks/{{ dataset.id }}/upload" method=post enctype=multipart/form-data>
                <p>
                    <input type=file name=file></input>
                    <input type=submit value=Upload></input>
                </p>
            </form>
            <small>Note: data uploads make take a minute on poor connections.</small>
        </section>
    </div>
    <section class="layout-semibreve">
        <div class="layout-minim">
            <h4>First thing</h4>
            <p>More about the first thing.</p>
        </div>
        <div class="layout-minim">
            <h4>Second thing</h4>
            <p>More about the second thing.</p>
        </div>
    </section>
</body>
</html>
