<div class="layout-semibreve semibreve-reduced">
    <div class="file-titles"  id="trailsegments-title">
        <h4 class="current-file-title">Trail Segments</h4>
        <h6>In Progress</h6>
    </div>
    <div class="file-titles" id="trailheads-title">
        <h4 class="other-file-title">Trailheads</h4>
        <h6 class="coming-soon">coming soon</h6>
    </div>
    <div class="file-titles" id="areas-title">
        <h4 class="other-file-title">Areas</h4>
        <h6 class="coming-soon">Coming Soon</h6>
    </div>
</div>
<!-- <div class="primary-content-line"></div> -->