<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Code for America</title>

 	<!-- LEAFLET -->

    <!-- CODE FOR AMERICA STYLES -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6435252/678502/css/fonts.css" />
    <link rel="stylesheet" href="http://style.codeforamerica.org/0/style/css/main.css">
    <link rel="stylesheet" href="http://style.codeforamerica.org/0/style/css/layout.css" media="all and (min-width: 40em)">
    <link href="http://style.codeforamerica.org/0/style/css/prism.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" href="http://style.codeforamerica.org/0/style/favicons/60x60/flag-red.png"/>

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
        <link rel="stylesheet" href="http://style.codeforamerica.org/0/style/css/layout.css" media="all">
    <![endif]-->

	<!-- CUSTOM STYLES -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
    {% include "headline.html" %}
    <section>
        <div class="alert">
            <p>This tool is under active development. At the moment, this converter converts only <b>trail segments</b> (polylines). Functionality performing conversion of trailheads (points) and areas (polygons) is coming soon.</p>
        </div>
        <div class="layout-semibreve">
            <h4>Understand</h4>
            <p>This tool will help you convert Shapefiles to OpenTrails, a GeoJSON open data format ideal for web and mobile applications.</p>
            <p>OpenTrails consists of the following files:</p>
            <ul>
                <li>trail_segments.geojson</li>
                <li>named_trails.csv</li>
                <li>trailheads.geojson</li>
                <li>areas.geojson</li>
                <li>stewards.csv</li>
            </ul>
        </div>
        <div class="layout-semibreve">
            <h4>Get Started</h4>
            <form id="start" action="/new-dataset" method=post>
                <button>YO</button>
            </form>
        </div>
    </section>
</body>
</html>
