<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Code for America</title>

 	<!-- LEAFLET -->

    <!-- CODE FOR AMERICA STYLES -->
    <link rel="stylesheet" type="text/css" href="//cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css" />
    <link rel="stylesheet" href="http://style.codeforamerica.org/1/style/css/main.css">
    <link rel="stylesheet" href="http://style.codeforamerica.org/1/style/css/layout.css" media="all and (min-width: 40em)">
    <link href="http://style.codeforamerica.org/1/style/css/prism.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" href="http://style.codeforamerica.org/1/style/favicons/60x60/flag-red.png"/>

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
        <link rel="stylesheet" href="http://style.codeforamerica.org/1/style/css/layout.css" media="all">
    <![endif]-->

	<!-- CUSTOM STYLES -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
    {% include "headline-home.html" %}
    {% include "under-development.html" %}

    <section class="layout-semibreve">
        <ul class="teasers">
            <li class="layout-minim-staccato">
                <article class="teaser teaser-app">
                    <!-- teaser-header required to maintain format -->
                    <header class="teaser-header"></header>
                    <div class="teaser-body">
                        <p>This tool will help you <b>convert Shapefiles to OpenTrails</b>.
                        <p>Our converter tool transformers shapefiles into the OpenTrails format, which is a suite of GeoJSON and CSV files. The tool offers helpful feedback if there are problems, and suggestions about how to make the most of OpenTrails data.</p>
                        <br>
                        <form id="start" action="/new-dataset" method=post>
                            <button class="minim-staccato-button">Convert Your Data</button>
                        </form>
                    </div>
                    <footer class="teaser-footer">
                        <div class="teaser-masthead">
                            <h3>Convert data to OpenTrails</h3>
                        </div>
                    </footer>
                </article>
            </li>
            <li class="layout-minim-staccato">
                <article class="teaser teaser-app">
                    <!-- teaser-header required to maintain format -->
                    <header class="teaser-header"></header>
                    <div class="teaser-body">
                        <p>This tool validates <b>OpenTrails GeoJSON and CSV files</b>.
                        <p>Upload your various OpenTrails data, and this tool will evaluate its compliance with the OpenTrails specification. The tool provides helpful feedback about how to improve your data's conformance to the specification, and by extension, its value to third party developers or data consumers.
                        <br>
                        <form id="start" action="/check-dataset" method=post>
                            <button class="minim-staccato-button">Validate Your Data</button>
                        </form>
                    </div>
                    <footer class="teaser-footer">
                        <div class="teaser-masthead">
                            <h3 class="teaser-centered-title">Validate OpenTrails data</h3>
                        </div>
                    </footer>
                </article>
            </li>
        </ul>
    </section>

    <div class="slab-gray">
        <div class="layout-semibreve">
            <h4>Help is Available</h4>

            <p>By initating the process, we will create a unique URL for your conversion effort. If you run into any issues, you can revisit that URL, or share it with your colleagues</p>

            <p>Moreoever, the Code for America team is available to provide assistance if you run into any problems. Once you begin the conversion process, a feedback form will appear in the bottom-right hand side of your screen.</p>
        </div>
    </div>

    <div class="layout-semibreve">
        <div class="layout-minim">
            <h4>About OpenTrails</h4>

            <p>The Open Trail System Specification (OpenTrails) provides a uniform “exchange format” for publishing machine readable data on the extent, attributes, and use of our nation’s trail systems.</p>

            <p>OpenTrails is designed for park agencies that want to get reliable trail maps into the hands of their visitors. OpenTrails data is ideal for use on agency websites, in mobile apps, and for consumption by third-parties that offer trail maps at scale. OpenTrails is GeoJSON and CSV open data format ideal for web and mobile applications.</p>

            <p>You can learn more about OpenTrails, its primary use-cases, the ecosystem of services, and more on the <a href="http://codeforamerica.org/specifications/trails">OpenTrails home page.</a></p>
        </div>

        <div class="layout-minim">
            <h4>We're Under Construction!</h4>

            <p>OpenTrails is designed with park and public land manager in mind. This converter is designed to accept GIS data maintained in shapefile formats.</p>

            <p>OpenTrails consists of the following files:</p>
            <ul>
                <li>trail_segments.geojson</li>
                <li>named_trails.csv</li>
                <li>trailheads.geojson</li>
                <li>areas.geojson (optional)</li>
                <li>stewards.csv</li>
            </ul>

            <b>Currently, the tool only supports conversion of trail segment data, i.e. the polyline features that describe the alignment of trails</b>. In the future, we will support the conversion of trailhead (point) and area (polygon) files as well.</p>

        </div>
    </div>
</body>
</html>
