<ul>
    {% for (level, id, words) in messages %}
        {% if level == 'error' %}
            <li class="alert-failure"><a href="/errors/{{ id }}" target="_blank">{{ words }}</a></li>
        {% endif %}
    {% endfor %}

    {% for (level, id, words) in messages %}
        {% if level == 'success' %}
            <li class="alert-success">{{ words }}</li>
        {% endif %}
    {% endfor %}

    {% for (level, id, words) in messages %}
        {% if level == 'warning' %}
            <li class="alert"><a href="/errors/{{ id }}" target="_blank">{{ words }}</a></li>
        {% elif level not in ('error', 'success') %}
            <li class="alert"><a href="/errors/{{ id }}" target="_blank">{{ words }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
