<!-- WIP -->

<ol class="steps-tracker" data-steps="4">
    <li id="step1"class="h6">Upload Shapefiles
    </li><!--
 --><li id="step2" class="h6">Review & Convert
    </li><!--
 --><li id="step3" class="h6">Extract Named Trails</li><!--
 --><li id="step4" class="h6">Download OpenTrails</li>
</ol>

<!-- Step Tracker Script -->
<script>
	$(document).ready(function () {
	    if (window.location.href.indexOf("sample-segment") > -1) {
	    	$("#step1").addClass("step-done icon-checkmark");
	    	$("#step2").addClass("step-active");
	    	$("#step3").addClass("step-todo");
	    	$("#step4").addClass("step-todo");
	    } else if (window.location.href.indexOf("transformed-segments") > -1) {
	    	$("#step1").addClass("step-done icon-checkmark");
	    	$("#step2").addClass("step-done icon-checkmark");
	    	$("#step3").addClass("step-active");
	    	$("#step4").addClass("step-todo");
	    } else if (window.location.href.indexOf("named-trails") > -1) {
	    	$("#step1").addClass("step-done icon-checkmark");
	    	$("#step2").addClass("step-done icon-checkmark");
	    	$("#step3").addClass("step-done icon-checkmark");
	    	$("#step4").addClass("step-active");
	    } else {
	    	$("#step1").addClass("step-active");
	    	$("#step2").addClass("step-todo");
	    	$("#step3").addClass("step-todo");
	    	$("#step4").addClass("step-todo");
	    }
	});
</script>